@model ArchiveViewModel;

<h2>@Model.tableTitle</h2>
<div style="width:100%;overflow:auto;">
    <table class="table">
        <thead>
            <tr>
                @for (int i = 1; i < Model.typelist.Count; i++)
                {
                    <th>@Model.typelist[i].Key <br /> @Model.typelist[i].Value.Name</th>
                }
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (List<Object> rows in Model.values)
            {
                <tr>
                    @for (int i = 1; i < rows.Count; i++)
                    {
                        <td>
                            @if(Model.typelist[i].Value.Name.Equals("String"))
                            {
                                <input type="text" value="@rows[i]" name="@rows[0].ToString()" data-id="@rows[0].ToString()" data-column="@Model.typelist[i].Key" data-table="@Model.tableHash" disabled />
                            }
                            else if(Model.typelist[i].Value.Name.Equals("Boolean"))
                            {
                                <input type="checkbox" checked="@rows[i]" name="@rows[0].ToString()" data-id="@rows[0].ToString()" data-column="@Model.typelist[i].Key" data-table="@Model.tableHash" disabled />
                            }
                            else if(Model.typelist[i].Value.Name.Equals("Int32"))
                            {
                                <input type="number" value="@rows[i]" name="@rows[0].ToString()" data-id="@rows[0].ToString()" data-column="@Model.typelist[i].Key" data-table="@Model.tableHash" disabled />
                            }
                            else if(Model.typelist[i].Value.Name.Equals("Date"))
                            {
                                <input type="date" value="@rows[i]" name="@rows[0].ToString()" data-id="@rows[0].ToString()" data-column="@Model.typelist[i].Key" data-table="@Model.tableHash" disabled />
                            }
                        </td>
                    }

                    <td>
                        <input type="button" class="btn btn-default edit" value="Edit" data-id="@rows[0].ToString()" />  
                        <input type="button" class="btn btn-default delete" value="Delete" data-id="@rows[0].ToString()" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
