@model AdminViewModel

<table style="width:100%;margin-top:1em;">
    <tr>
        <th style="width:100%"><h2>Admin page</h2></th>
        <th style="vertical-align:bottom;"><a class="btn btn-default" asp-action="Index" asp-controller="Archive">Forside</a></th>
    </tr>
</table>

<div style="margin-top:3em;" class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    Permissions
                </a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (List<Object> row in Model.permissions)
                        {
                            <tr>
                                <td style="vertical-align:middle; width:5%;"><div class="id-perm">@row[0]</div></td>
                                <td style="vertical-align:middle; width:80%;"><input style="width:100%" class="input-sm name-perm" type="text" value="@row[1]" name="@row[0]" data-id="@row[0]" data-column="name" data-table="ArchivePermissions" disabled /></td>
                                <td style="vertical-align:middle; width:5%;"><input type="button" class="btn btn-default edit-perm" data-id="@row[0]" value="Edit" /></td>
                                <td style="vertical-align:middle; width:5%;"><input type="button" class="btn btn-default assign-perm" data-id="@row[0]" value="Assign" /></td>
                                <td style="vertical-align:middle; width:5%;"><input type="button" class="btn btn-default delete-perm" data-id="@row[0]" value="Delete" /></td>
                            </tr>
                        }
                        <tr>
                            <td colspan="5"><input style="width:100%;" class="btn btn-default add-perm" type="button" value="Add Permission" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    Users
                </a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (List<Object> row in Model.users)
                        {
                            <tr>
                                <td style="vertical-align:middle; width:30%;">@row[0]</td>
                                <td style="vertical-align:middle; width:60%;"><input style="width:100%" class="input-sm" type="text" value="@row[1]" name="@row[0]" data-id="@row[0]" data-column="name" data-table="ArchivePermissions" disabled /></td>
                                <td style="vertical-align:middle; width:5%;"><input type="button" class="btn btn-default edit" data-id="@row[0]" value="Edit" /></td>
                                <td style="vertical-align:middle; width:5%;"><input type="button" class="btn btn-default assign" data-id="@row[0]" value="Assign" /></td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                    Archives
                </a>
            </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="body-archive">
                        @foreach (List<Object> row in Model.table)
                        {
                            <tr>
                                <td style="vertical-align:middle; width:25%;"><div class="archive-id">@row[0]</div></td>
                                <td style="vertical-align:middle; width:60%;"><input style="width:100%" class="input-sm archive-name" type="text" value="@row[1]" name="@row[0]" data-id="@row[0]" data-column="name" data-table="ArchivePermissions" disabled /></td>
                                <td style="vertical-align:middle; width:5%;"><input type="button" class="btn btn-default edit-archive" data-id="@row[0]" value="Edit" /></td>
                                <td style="vertical-align:middle; width:5%;"><input type="button" class="btn btn-default columns-archive" data-toggle="modal" data-target="#archiveModal" data-id="@row[0]" value="Columns" /></td>
                                <td style="vertical-align:middle; width:5%;"><input type="button" class="btn btn-default delete-archive" data-id="@row[0]" value="Delete" /></td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5"><input style="width:100%;" class="btn btn-default add-archive" type="button" value="Add Archive" /></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="permModal" tabindex="-1" role="dialog" aria-labelledby="permModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="permModalLabel">Assign archives</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userModalLabel">Assign user permissions</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="archiveModal" tabindex="-1" role="dialog" aria-labelledby="archiveModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="archiveModalLabel">Edit Columns</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Column Name</th>
                            <th>Column Type</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="archive-modal-body">

                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="3"></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/admin-archive.js"></script>
    <script type="text/javascript" src="~/js/admin-perm.js"></script>
    <script type="text/javascript" src="~/js/admin-users.js"></script>
}

