@model AdminViewModel

<table style="width:100%;margin-top:1em;">
    <tr>
        <th style="width:100%"><h2>Admin page</h2></th>
        <th style="vertical-align:bottom;"><a class="btn btn-default" asp-action="Index" asp-controller="Archive">Forside</a></th>
    </tr>
</table>

<div style="margin-top:3em;"class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    Permissions
                </a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(List<Object> row in Model.permissions)
                        {
                        <tr>
                            <td style="vertical-align:middle; width:5%;">@row[0]</td>
                            <td style="vertical-align:middle; width:80%;"><input style="width:100%" class="input-sm" type="text" value="@row[1]" name="@row[0]" data-id="@row[0]" data-column="name" data-table="ArchivePermissions" disabled /></td>
                            <td style="vertical-align:middle; width:5%;"><input type="button" class="btn btn-default edit" data-id="@row[0]" value="Edit" /></td>
                            <td style="vertical-align:middle; width:5%;"><input type="button" class="btn btn-default assign" data-id="@row[0]" value="Assign" /></td>
                            <td style="vertical-align:middle; width:5%;"><input type="button" class="btn btn-default delete" data-id="@row[0]" value="Delete" /></td>
                        </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    Users
                </a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (List<Object> row in Model.users)
                        {
                            <tr>
                                <td style="vertical-align:middle; width:30%;">@row[0]</td>
                                <td style="vertical-align:middle; width:60%;"><input style="width:100%" class="input-sm" type="text" value="@row[1]" name="@row[0]" data-id="@row[0]" data-column="name" data-table="ArchivePermissions" disabled /></td>
                                <td style="vertical-align:middle; width:5%;"><input type="button" class="btn btn-default edit" data-id="@row[0]" value="Edit" /></td>
                                <td style="vertical-align:middle; width:5%;"><input type="button" class="btn btn-default assign" data-id="@row[0]" value="Assign" /></td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                    Archives
                </a>
            </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (List<Object> row in Model.table)
                        {
                            <tr>
                                <td style="vertical-align:middle; width:25%;">@row[0]</td>
                                <td style="vertical-align:middle; width:60%;"><input style="width:100%" class="input-sm" type="text" value="@row[1]" name="@row[0]" data-id="@row[0]" data-column="name" data-table="ArchivePermissions" disabled /></td>
                                <td style="vertical-align:middle; width:5%;"><input type="button" class="btn btn-default edit" data-id="@row[0]" value="Edit" /></td>
                                <td style="vertical-align:middle; width:5%;"><input type="button" class="btn btn-default assign" data-id="@row[0]" value="Columns" /></td>
                                <td style="vertical-align:middle; width:5%;"><input type="button" class="btn btn-default delete" data-id="@row[0]" value="Delete" /></td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

